
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout_Emp.cshtml";
}

<h4 class="fw-semibold m-3">Distribution History</h4>
<div>
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Resturant Name</th>
                    <th>Distributed At</th>
                    <th>Location</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#894</td>
                    <td><a href="#" class="text-decoration-none">Bhai Bhai Biriyani</a></td>
                    <td>12:10pm</td>
                    <td>Badda , Dhaka</td>
                    <td>Compelte</td>
                </tr>
                <tr>
                    <td>#894</td>
                    <td><a href="#" class="text-decoration-none">Bhai Bhai Biriyani</a></td>
                    <td>12:10pm</td>
                    <td>Badda , Dhaka</td>
                    <td>Compelte</td>
                </tr>
                <tr>
                    <td>#894</td>
                    <td><a href="#" class="text-decoration-none">Bhai Bhai Biriyani</a></td>
                    <td>12:10pm</td>
                    <td>Badda , Dhaka</td>
                    <td>Compelte</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
