
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout_Emp.cshtml";
}

<h4 class="fw-semibold m-3">Distribution History</h4>
<div>
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Resturant Name</th>
                    <th>Distributed At</th>
                    <th>Location</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 12; i++)
                {
                    <tr>
                        <td>#@(894+i)</td>
                        <td><a href="/Employee/DonorProfile/@i" class="text-decoration-none">Bhai Bhai Biriyani</a></td>
                        <td>12:10pm</td>
                        <td>Badda , Dhaka</td>
                        <td>Compelte</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
            </ul>
        </nav>
    </div>
</div>
