
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout_Dnr.cshtml";
}

<h4 class="fw-semibold m-3">Distribution History</h4>
<div>
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Distribute By</th>
                    <th>Distributed At</th>
                    <th>Location</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 12; i++)
                {
                    <tr>
                        <td>#894</td>
                        <td><a href="/Restaurant/DistributerProfile/1" class="text-decoration-none">Azran Hossain</a></td>
                        <td>12:10pm</td>
                        <td>Badda , Dhaka</td>
                        <td>Compelte</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </nav>
        </div>
    </section>
</div>
